include README.rst
include VERSION
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include {{ cookiecutter.bot_id|replace(' ', '_') }}/resources *

# If including data files in the package, add them like:
# include path/to/data_file
