{%- if cookiecutter.project_type == "Desktop" -%}
botcity-framework-core>=0.4.0,<1.0
{%- elif cookiecutter.project_type == "Web" -%}
botcity-framework-web>=0.7.0,<1.0
{%- elif cookiecutter.project_type == "Both" -%}
botcity-framework-core>=0.4.0,<1.0
botcity-framework-web>=0.7.0,<1.0
{%- elif cookiecutter.project_type == "Custom" -%}
botcity-framework-base
{% endif %}
botcity-maestro-sdk>=0.2.0,<1.0
# Uncomment to use botcity-utils
#botcity-utils>=0.1.2
# Uncomment to use botcity-crawler-plugin
#botcity-crawler-plugin
