{%- if cookiecutter.project_type == "Desktop" -%}
botcity-framework-core>=1.2.1,<2.0
{%- elif cookiecutter.project_type == "Web" -%}
botcity-framework-web>=1.0,<2.0
{%- elif cookiecutter.project_type == "Both" -%}
botcity-framework-core>=1.2.1,<2.0
botcity-framework-web>=1.0,<2.0
{% endif %}
botcity-maestro-sdk>=0.5.1,<1.0
# Uncomment to use botcity-utils
# botcity-utils>=0.1.2

# Uncomment to use botcity-crawler-plugin
# botcity-crawler-plugin

# Uncomment to use Pandas
# pandas
